@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #297fca;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-wrap: break-word;
    word-wrap: break-word;
}


/* HEADER */
header {
    background-color: #e4f1fd;
    max-height: 8vh;
}
button{
    background-color:red;
    color: white;
    text-align: center;
    border: none;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 40px;
}
.nav-wrapper{
    height: 7vh;
}
#navbar{
    display: flex;
    justify-content: space-between;
    z-index: 1;
}
.logo{
    margin:0 20px;
}
#navcta{
    font-size: 20px;
    line-height: 40px;
    margin: 0 20px;
}
 /*The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color:rgba(228, 241, 253,.5);
}

/* MAIN */
.main{
    background-color: #E4F1FD;
    display: flex;
    justify-content:space-between;
}

.mainimg{
    position: relative;
    margin: 20px 120px;
    max-height: 90vh;
}
.maintext{
    margin: 150px 120px 10px 120px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: left;
    line-height: 30px;
    max-width: 40vw;
    padding-left: 20px;
}
.maintext h2{
    font-size: 40px; 
    letter-spacing: 4px;
    text-align: left;
    line-height: 50px;
    font-weight: 800;
}

/*REASONS*/
.reasons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
.reason{
    flex:1;
    margin: 25px;
    height: 40vh;
    padding:30px;
    text-align: center;
}
.reason h3{
    letter-spacing: 1px;
}
.white{
    height: 65vh;
    display: flex;
    flex-wrap: wrap;
}
.whiteheader{
    margin:0 auto;
    margin-top:10vh;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    line-height: 60px;

}

/*SECTIONS*/
.sections{
    display:flex;
    overflow-wrap: wrap;
    justify-content: space-around;
    height: 80vh;
}
.sectionimg1{
    flex:1;
    text-align: center;
    background-image: url("https://errundsonline.com/wp-content/uploads/2018/07/anxiety-less.png");
    background-size:60%; 
    background-repeat: no-repeat;
    background-position: top center;

}
.sectionimg2{
    flex:1;
/*    background-color:yellow; 
*/    text-align: center;
    background-image: url("https://errundsonline.com/wp-content/uploads/2018/07/newsphone.png");
    background-size:60%; 
    background-repeat: no-repeat;
    background-position: top center;
}
.sectionimg3{
    flex:1;
    text-align: center;
    background-image: url("https://errundsonline.com/wp-content/uploads/2018/07/points-dash.png" );
    background-size:60%; 
    background-repeat: no-repeat;
    background-position: top center;
}
.sectionimg{
    flex:1;
    text-align: center;


}
.reduceimg{
    position: relative;
    margin: 20px 120px;
    max-height: 120vh;
    background-color: red;
}
.sectiontext{
    flex:1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 120px 0 20px;
/*    background-color: yellow;
*/
}
.sectiontext h1{
    font-size: 40px;

}
.sectiontext p{
    font-size: 18px; 

}
.spacer{
    flex:1;

}
.spacer2{
    flex:1;
/*    background-color: lightblue;
*/    text-align: justify;

}
.lastspacer{
    display: flex;
}
