@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #297fca;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-wrap: break-word;
    word-wrap: break-word;
}


/* HEADER */
header {
    background-color: #e4f1fd;
    max-height: 8vh;
}
button{
    background-color:red;
    color: white;
    text-align: center;
    border: none;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 40px;
    margin-left: 0;
}
.nav-wrapper{
    height: 7vh;
}
#navbar{
    display: flex;
    justify-content: space-between;
    z-index: 1;

}
.logo{
    margin:0 20px;
}
#navcta{

    margin: 20px 20px;
}
 /*The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color:rgba(228, 241, 253,.5);
}

/* MAIN */
.main{
    background-color: #E4F1FD;
    display: flex;
    justify-content:space-between;
}

.mainimg{
    position: relative;
    margin: 12px 120px;
    max-height: 90vh;
}
.maintext{
    margin: 150px 120px 10px 120px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: left;
    line-height: 30px;
    max-width: 40vw;
    padding-left: 20px;
}
.maintext h2{
    font-size: 40px; 
    letter-spacing: 4px;
    text-align: left;
    line-height: 50px;
    font-weight: 800;
}

/*REASONS*/
.reasons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    width: 90vw;
    margin:0 auto;
}
.reason{
    flex:1;
    height: 400px;
    margin: 40px;
    text-align: center;
    line-height: 25px;

}
.white{
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}
.whiteheader{
    margin:0 auto;
    margin-top:100px;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    line-height: 60px;

}

/*SECTIONS*/
.wrapper{
    margin: 0 150px;
}
.sections{
    display:flex;
    overflow-wrap: wrap;
    justify-content: space-around;
    height: 80vh;
}
.sections4{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-height: 200px;
    margin:10px 150px;
}
.sectionimg1{
    flex:1;
    text-align: center;
    background-image: url("https://errundsonline.com/wp-content/uploads/2018/07/anxiety-less.png");
    background-size:80%; 
    background-repeat: no-repeat;
    background-position: top center;
    min-width: 340px;


}
.sectionimg2{
    flex:1;
   text-align: center;
    background-image: url("https://errundsonline.com/wp-content/uploads/2018/07/newsphone.png");
    background-size:80%; 
    background-repeat: no-repeat;
    background-position: top center;
    min-width: 340px;

}
.sectionimg3{
    flex:1;
    text-align: center;
    background-image: url("https://errundsonline.com/wp-content/uploads/2018/07/points-dash.png" );
    background-size:80%; 
    background-repeat: no-repeat;
    background-position: top center;
    min-width: 340px;
}
.sectionimg4{
    flex:1;
    text-align: center;
    background-image: url("https://errundsonline.com/wp-content/uploads/elementor/thumbs/Mockup-Generated-by-Dunnnk-6lwz8d53fcxmnic9w8wztnmoves7s7mgqxr4frhexk4.jpg");
    background-size:78%; 
    background-repeat: no-repeat;
    background-position: top center;
    margin:0 -5px;

}
.sectionimg{
    flex:1;
    text-align: center;

}
.sectiontext{
    flex:1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0px 40px;

}
.sectiontext2{
    flex:1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
}
.sectiontext h1{
    font-size: 40px;

}
.sectiontext p{
    font-size: 18px; 

}

.spacer{
    flex:1;

}
.spacer2{
    flex:1;
    text-align: justify;
/*    background-color: yellow;
*/}
.busspacer2{
    flex:1;
    text-align: justify;
/*    background-color: yellow;
*/}
.busspacer2 h1{
    font-size:32px;
}

/*Footer*/
footer{
    background-color: #e4f1fd;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
}
.footerlogo{
    flex:1;
    flex-wrap: wrap;        
}
footer .logo{
    position: relative;
    top:20px;
}

.flex-contain{
    display: flex;
    flex:4;


}
.legal{
    flex-wrap: wrap;
    width:100%;
    
}
.links{
    flex:4;
    display: flex;
    justify-content: space-around;
}
.links a{
    position: relative;
    top:40px;
    font-size: 18px;
    text-decoration:none;
    font-weight: 450; 

}
.socials{
    flex:1;
    justify-content: center;
    display: flex;
}
.socials img{
    margin:0 5px; 
    position: relative;
    top:30px;

}
.copy{
    position: relative;
    top:20px;
    font-size: 16px;
    text-align: center;
}

hr{
    border: dotted .5px black;
    width:80vw;
    margin:0 auto;
}
#cta2{
    margin-left: 0;
}
#buscta2{
    margin:20px 0;
}
