@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #297fca;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

/* HEADER */
header {
    background-color: #e4f1fd;
    max-height: 8vh;
}
button{
    background-color:red;
    color: white;
    text-align: center;
    border: none;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 40px;
    margin-left: 0;
    font-weight: 600;
}

 /*The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color:rgba(228, 241, 253,.5);
}
.nav-wrapper{
    height: 7vh;
    
}
#navbar{
    display: flex;
    justify-content: space-between;
    z-index: 1;
    max-height: 8vh;
}
.logo{
    margin:0 20px;
}
.navcta{
    
    margin: 20px 20px;
}
/* MAIN */
.main{
    background-color: #E4F1FD;
    display: flex;
    justify-content:space-between;
}

.mainimg{
    position: relative;
    margin: 12px 120px;
    max-height: 90vh;
}
.maintext{
    margin: 150px 120px 10px 120px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: left;
    line-height: 30px;
    max-width: 40vw;
    padding-left: 20px;
}
.maintext h2{
    font-size: 40px; 
    letter-spacing: 4px;
    text-align: left;
    line-height: 50px;
    font-weight: 800;
}

/*REASONS*/
.reasons{
    display: flex;
    flex:1;/*
    flex-wrap: wrap;*/
    justify-content: space-around;
    text-align: center;
    width: 90vw;
    margin:20px auto;
}
.reason{
    flex:1;
    height: 200px;
    margin: 40px;
    text-align: center;
    line-height: 25px;

}
.white{
/*    height: 500px;*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}
.whiteheader{
    flex:1;
    margin:0 auto;
    margin-top: 120px;
    font-size: 40px;
    font-weight: 600;
    text-align: center;


}
.whiteheader h2{
    font-size: 40px;
    line-height: 60px;

}

/*SECTIONS*/
.wrapper{
    margin: 0 150px;
}
.sections{
    display:flex;
    overflow-wrap: wrap;
    justify-content: space-around;
    height: 80vh;
}
.sections4{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-height: 200px;
    margin:10px 150px;
}
.sectionimg1{
    flex:1;
    text-align: center;
    background-image: url("https://errundsonline.com/wp-content/uploads/2018/07/anxiety-less.png");
    background-size:80%; 
    background-repeat: no-repeat;
    background-position: top center;
    min-width: 340px;


}
.sectionimg2{
    flex:1;
   text-align: center;
    background-image: url("https://errundsonline.com/wp-content/uploads/2018/07/newsphone.png");
    background-size:80%; 
    background-repeat: no-repeat;
    background-position: top center;
    min-width: 340px;

}
.sectionimg3{
    flex:1;
    text-align: center;
    background-image: url("https://errundsonline.com/wp-content/uploads/2018/07/points-dash.png" );
    background-size:80%; 
    background-repeat: no-repeat;
    background-position: top center;
    min-width: 340px;
}
.sectionimg4{
    flex:1;
    text-align: center;
    background-image: url("https://errundsonline.com/wp-content/uploads/elementor/thumbs/Mockup-Generated-by-Dunnnk-6lwz8d53fcxmnic9w8wztnmoves7s7mgqxr4frhexk4.jpg");
    background-size:78%; 
    background-repeat: no-repeat;
    background-position: top center;
    margin:0 -5px;

}
.sectionimg{
    flex:1;
    text-align: center;

}
.sectiontext{
    flex:1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0px 10px;
  /*  height:50px;*/

}
.sectiontext h1{
    font-size: 36px;

}
.sectiontext p{
    font-size: 18px; 

}

.spacer{
    flex:1;

}
.spacer2{
    flex:1;
    text-align: justify;
/*    background-color: yellow;
*/}
.busspacer2{
    flex:1;
    text-align: justify;

    /*margin-bottom: 10px; 
    background-color: yellow;*/
}
.busspacer2 h1{
    font-size:32px;
}

/*Footer*/
footer{
    background-color: #e4f1fd;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
}
.footerlogo{
    flex:1;
    flex-wrap: wrap;        
}
footer .logo{
    position: relative;
    top:20px;
}

.flex-contain{
    display: flex;
    flex:4;


}
.legal{
    flex-wrap: wrap;
    width:100%;
    
}
.links{
    flex:4;
    display: flex;
    justify-content: space-around;
}
.links a{
    position: relative;
    top:40px;
    font-size: 18px;
    text-decoration:none;
    font-weight: 450; 

}
.socials{
    flex:1;
    justify-content: center;
    display: flex;
}
.socials img{
    margin:0 5px; 
    position: relative;
    top:30px;

}
.copy{
    position: relative;
    top:20px;
    font-size: 16px;
    text-align: center;
}

hr{
    border: dotted .5px black;
    width:80vw;
    margin:0 auto;
}
.cta2{
    margin-left: 0;
}
.buscta2{
    margin:10px 0;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin:12vh auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */

}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


input[type=text],input[type=tel],input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size:14px;
}
select{
    background-color:white; 
    color: grey;
}

label{
    display: block;

}
#fname, #lname{
    width: 48%;
   /* flex:1;*/

}
.name{
    width:100%;
    display: flex;
    justify-content: space-around;
    
}
#address{
    display: flex;
    justify-content: space-between;
    margin:10px 0;
}
#city,#state{
    flex:3;
    margin:2px;
   
}

#states{
    flex:1;
    margin:2px;
}
#zip{
    flex:2;
     margin:2px;
}
/*#year{
    width: 48%;
}
#birthdiv{
    text-align: center;
    margin:0; 
}*/
input[type=submit] {

    background-color:red;
    color: white;
    text-align: center;
    border: none;
    padding: 5px;
    text-decoration: none;
    font-size: 16px;
    margin:5px;
   
}
#formsubmit{
    text-align: center;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
.hidden{
    display: none;
}
