/* --------Responsive------------------------------------- */

@media screen and (max-width: 600px) {
    *{
        margin:0px;
        padding:0px;
        font-size: 12px;
        color: #297fca;

    }
    

    /* HEADER */
    header {
        background-color: #e4f1fd;
        width: 100vw;
        height: 8vh;
        overflow-x: hidden;
    }
    body{
        overflow-x: hidden;
        margin-bottom: 0px;
        width: 100vw;
      

    }
    #navbar{
        display: flex;
        justify-content: space-between;
        z-index: 1;
        height: 9vh;
    }
    
    .logo{
        margin: 5px;
        width: 150px;
        height: 35px;
    }
    #navlogo{
        margin-top: 10px;
    }
    .navcta{
        font-weight: 800;
        margin: 5px 6px;
        font-size: 12px;
    }
    button{
        background-color:red;
        color: white;
        text-align: center;
        border: none;
        padding: 1px;
        text-align: center;
        text-decoration: none;
        font-size: 12px;
        margin: 10px;
        font-weight: 800;

    }
     /*The sticky class is added to the navbar with JS when it reaches its scroll position */
    .sticky {
      position: fixed;
      top: 0;
      width: 100vw;
      background-color:rgba(228, 241, 253,.5);
    }

    /*----------MAIN---------------*/
    .main{
        background-color: #E4F1FD;
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        margin:0;
        width: 100vw;

    }

    #sect-title{
        align-self: center;
        width: 100vw;
        font-size: 30px;
        text-align: center;
        font-weight: 800;
        margin:10px;
        padding: 0 5px;
    }
    .imgdiv{
        flex:1;
        height: 90vh;
        margin:0 auto;
        padding-bottom: 20px;
        display: flex;
       width: 88vw; 

    }
    #busimgdiv{
         flex:1;
        height: 90vh;
        margin:0 auto;
        padding-bottom: 20px;
        display: flex;
       width: 88vw; 
       order:2;
    }
    .mainimg{
        margin:0px;
    }
    
    .maintext{
        display: flex;
        flex:1;
        flex-direction: column;
        justify-content: center;
        margin: 0px;
        height: 93vh;
        min-width: 100vw;
        max-width: 100vw;
/*        background-color: yellow;*/
        padding: 0px;

    }
    #bus-maintext{
        display: flex;
        flex:1;
        flex-direction: column;
        justify-content: center;
        margin: 0px;
        height: 93vh;
        min-width: 100vw;
        max-width: 100vw;
/*        background-color: yellow;*/
        padding: 0px;
        text-align: center;
    }
    #bus-maintext h2{
        text-align: center;
    }
    .mainheader, .maindesc {
        display: flex;
        flex:1;
        width: 100vw;
        justify-content: center;
        

    }
    .mainheader{
        flex:3;
        margin:120px 0 40px 0; 

    }
    .maindesc{
        flex:2;
        margin:10px 0;
    }
    .maindesc > p{
        width: 80vw;
        height: 40vh;
        margin: 0 auto;
        text-align: center;
        font-size: 16px;
    }
    .hidden{
        display: block;
    }
    .maindesc > button{
        padding:1px 5px;
    }
    
    /*--------REASONS-----------*/
    .white{
        display: flex;
        flex-direction: column;

    }
    .whiteheader{
        flex:1;
        font-weight: 600;
        text-align: center;
        margin:50px 0 10px 0;

    }
    #bus-whiteheader{
        margin-bottom: 5px;
    }

    .whiteheader > h2{
        font-size: 25px;
        width: 100vw;
        text-align: center;
        margin: 2px;

    }
     #bus-whiteheader > h2{
        font-size: 28px;

        width: 100vw;
        text-align: center;
        padding: 0px 4px; 
        

    }

    .whiteheader > p{
        font-size: 12px;
        line-height: 20px;
    }

    .reasons{
        display: flex;
        flex:1;
        flex-direction: column;
        text-align: center;
        width: 100vw;
        

    }
    .bus-reasons{
        display: flex;
        flex:1;
        flex-direction: column;
        text-align: center;
        width: 100vw;
        margin:5px 0;
        

    }

    .reason{
        display: flex;
        flex:1;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        padding: 0px;
        text-align: center;
        margin: 2px;
        padding:0px;
        height:150px;
      /*  border-bottom: 1px solid grey;*/


    }

    .bus-reason{
        display: flex;
        flex:1;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        padding: 0px;
        text-align: center;
        margin: 2px;
        padding:2px;
        height:120px;
        

    }
    .reason-flex{
      /*  flex:1;*/
        align-self: center;

    }
    .reason-flex > p{
        margin:12px;
        
    }
    #reason-title{
        flex:1;
    }

    .reason-img{
        margin-top:20px;
    }

    /*-----SECTIONS---------*/
    .wrapper{
        margin: 0px;
    }
    .sections{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100vw;
        height: 93vh;
        padding-bottom: 60px;
      
    }

    .section1{
        display: flex;
        
        flex-direction: column;

    }
    .sectionimg1{
        flex:1;
        text-align: center;
        background-image: url("https://errundsonline.com/wp-content/uploads/2018/07/anxiety-less.png");
        background-size:80%; 
        background-repeat: no-repeat;
        background-position: top center;
        width: 100vw;
        order:2;

    }
    .section2{
        display: flex;
        flex-direction: column;

    }
    .sectionimg2{
        flex:1;
        text-align: center;
        background-image: url("https://errundsonline.com/wp-content/uploads/2018/07/newsphone.png");
        background-size:80%; 
        background-repeat: no-repeat;
        background-position: top center;
        min-width: 340px;
        order:2;
        

    }
    .section3{
        display: flex;
        flex-direction: column;

    }
    .sectionimg3{
        flex:1;
        text-align: center;
        background-image: url("https://errundsonline.com/wp-content/uploads/2018/07/points-dash.png" );
        background-size:80%; 
        background-repeat: no-repeat;
        background-position: top center;
        min-width: 340px;
        order:2;
    }
    #mobile-sect4{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        margin:0;
        max-height: 40vh;
        min-height: 40vh;
        padding-bottom: 0px;
        
    }
    #mbus-sect4{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        margin:20px 0;
        max-height: 40vh;
        min-height: 40vh;
        padding:0;
        
        
    }
    .sectionimg4{
        flex:1;
        background-image: url("https://errundsonline.com/wp-content/uploads/elementor/thumbs/Mockup-Generated-by-Dunnnk-6lwz8d53fcxmnic9w8wztnmoves7s7mgqxr4frhexk4.jpg");
        background-size:50%; 
        background-repeat: no-repeat;
        background-position: top center;
        order:1;
        margin: 20px 0;

    }
    #bus-section4{
        margin:0px 0;
    }
    .sectiontext4{
        flex:2;
        margin: 0px;
        display: flex;
        justify-content: space-between;
        order: 2;
    }

    .sectiontext h1{
        font-size: 25px;
        margin: 0 10px;

    }
    .sectiontext p{
        font-size: 14px; 
        margin:0px 20px;
        letter-spacing: 1px;
        line-height: 20px;

    }
 
    
    .spacer{
        flex:1;
    }
    .spacer2{
        flex-direction: column;
        margin:10px 0;
        text-align: center;
    }
    .spacer > h1{
            width: 100vw;
            margin:0;
            font-size: 10px;
        }
    .busspacer2{
        flex-direction: column;
        margin:10px 0;
        text-align: center;
    }

    
    .busspacer2 h1{
        font-size:32px;
    }   

    /*---------Footer----------*/
    footer{
        background-color: #e4f1fd;
        display: flex;
        flex-direction: column;
        margin-bottom:0px;
        display: flex;
        height: 40vh;
        width: 100vw;
        overflow-x: hidden;
   }
    .footerlogo{
        flex:1;
        order:1;
        text-align: center;

    }
    footer .logo{
        position:relative;
        top:0px;
        margin-top:10px;
    }

    .flex-contain{
        display: flex;
        flex-direction: column;
        flex:5;
        order:2;
       /* background-color: orange;*/
    }
    .legal{
        flex:1;
        flex-wrap: wrap;
        width:100vw;
        order:3;
        font-size: 10px;


        
    }
    .links{
        display: flex;
        flex:2;
        flex-direction: column;
        justify-content: space-around;
        order:1;
        text-align: center;
        width: 100vw;
    }
    .links div{
        flex:1;
        justify-content: center;
        font-size: 18px;
        margin:0px;
    }
    .links a{
        position: relative;
        top:10px;
        font-size: 16px;
        text-decoration:none;
        font-weight: 450;   
        text-align: center;

    }
    .socials{
        flex:2;
        display: flex;
        order:3;
        text-align: center;
        margin-top:-25px;
        justify-content: center;

      /*  background-color: yellow;*/
    }
    .socials div{
        align-self: center;
        margin-top: -35px;
        

    }
    .copy{
        /*flex:2;*/
        background-color: #e4f1fd;
        text-align: center;
        width: 100vw;
        position: relative;
         top: -2px;
         color:darkgrey;
         margin:5px;
    }
  
    .footer-line{
       border:0.5px dashed rgb(220,220,220);

    }
    .cta2{
        margin-left: 0;
    }
    .buscta2{
        margin:10px 0;
    }
    hr{
        border:1px solid rgb(220,220,220)
;
    }
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        vertical-align: center;
        margin:20vh auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 95vw; /* Could be more or less, depending on screen size */

    }
        .bus-modal-content {
        background-color: #fefefe;
        vertical-align: center;
        margin:10vh auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 95vw; /* Could be more or less, depending on screen size */

    }

    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }


    input[type=text],input[type=tel],input[type=email], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
        font-size:14px;
    }
    select{
        background-color:white; 
        color: grey;
    }

    label{
        display: block;

    }
    #fname, #lname{
        width: 48%;
       /* flex:1;*/

    }
    .name{
        width:100%;
        display: flex;
        justify-content: space-around;
        
    }
    #address{
        display: flex;
        justify-content: space-between;
        margin:10px 0;
    }
    #city,#state{
        flex:3;
        margin:2px;
       
    }

    #states{
        flex:1;
        margin:2px;
    }
    #zip{
        flex:2;
         margin:2px;
    }
    /*#year{
        width: 48%;
    }
    #birthdiv{
        text-align: center;
        margin:0; 
    }*/
    input[type=submit] {

        background-color:red;
        color: white;
        text-align: center;
        border: none;
        padding: 5px;
        text-decoration: none;
        font-size: 16px;
        margin:5px;
       
    }
    #formsubmit{
        text-align: center;
    }

    .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }
        body{
            width: 100vw;
        }
        div > h1{
            font-size: 20px;
        }
        .wrapper{
            display: flex;
            flex-direction: column;
            margin:10px 0; 

            }
        

     #nav-wrapper, #navbar{
        width:100vw;
     }
     .main{
        display: flex;
        flex-direction: column;
        width: 100vw;
        flex-wrap: wrap;
     }
 

    .myBtn{
        height: 40px;
        background: red;
    }
     .maindesc{
        font-size: 20px;
        width: 100vw;
        padding: 10px;
        text-align: center;
     }
     .mainimg{
        width:90vw;
     }
     .imgdiv{

    }
    .shortline{

        width: 20px;
        margin:10px auto;
        border:1px solid rgb(220,220,220);
    }
    

    }