/* --------Responsive------------------------------------- */

@media screen and (max-width: 600px) {
    *{
        margin:0px;
        padding:0px;
        font-size: 12px;
        color: #297fca;

    }

    /* HEADER */
    header {
        background-color: #e4f1fd;
        width: 100vw;
        height: 8vh;
    }
    body{
        overflow-x: hidden;
    }
    #navbar{
        display: flex;
        justify-content: space-between;
        z-index: 1;
    }
    .logo{
        margin: 5px;
        width: 150px;
        height: 35px;
    }
    .navcta{
        font-weight: 800;
        margin: 5px 5px;
        font-size: 12px;
    }
    button{
        background-color:red;
        color: white;
        text-align: center;
        border: none;
        padding: 1px;
        text-align: center;
        text-decoration: none;
        font-size: 12px;
        margin: 10px;
        font-weight: 800;

    }
     /*The sticky class is added to the navbar with JS when it reaches its scroll position */
    .sticky {
      position: fixed;
      top: 0;
      width: 100vw;
      background-color:rgba(228, 241, 253,.5);
    }

    /*----------MAIN---------------*/
    .main{
        background-color: #E4F1FD;
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        margin:0;
        width: 100vw;
    }

    #sect-title{
        align-self: center;
        width: 100vw;
        font-size: 32px;
        text-align: center;
        font-weight: 800;
        margin:10px;
    }
    .imgdiv{
        flex:1;
        height: 75vh;
        margin:0 auto;
        padding-bottom: 10px;
               display: flex;
       width: 88vw; 

    }
    .mainimg{
        margin:0px;
    }

    .maintext{
        display: flex;
        flex:1;
        flex-direction: column;
        justify-content: center;
        margin: 0px;
        height: 90vh;
        min-width: 100vw;
        max-width: 100vw;
/*        background-color: yellow;*/
        padding: 0px;
    }
    .mainheader, .maindesc {
        display: flex;
        flex:1;
        width: 100vw;
        justify-content: center;

    }
    .mainheader{
        flex:3;
        margin:120px 0 40px 0; 

    }
    .maindesc{
        flex:2;
        margin:10px 0;
    }
    .maindesc > p{
        width: 80vw;
        height: 40vh;
        margin: 0 auto;
        text-align: center;
        font-size: 16px;
    }
    .hidden{
        display: block;
    }
    .maindesc > button{
        padding:1px 5px;
    }
    
    /*--------REASONS-----------*/
    .white{
        display: flex;
        flex-direction: column;

    }
    .whiteheader{
        flex:1;
        font-weight: 600;
        text-align: center;
        margin:50px 0;

    }
    .whiteheader > h2{
        font-size: 20px;
        width: 100vw;
        text-align: center;

    }

    .whiteheader > p{
        font-size: 12px;
        line-height: 20px;
    }

    .reasons{
        display: flex;
        flex:1;
        flex-direction: column;
        text-align: center;
        width: 100vw;
        

    }
    .reason{
        display: flex;
        flex:1;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        padding: 0px;
        text-align: center;
        margin: 2px;
        padding:0px;
      /*  border-bottom: 1px solid grey;*/


    }
    .reason-flex{
        flex:1;
        align-self: center;

    }
    .reason-flex > p{
        margin:20px;
    }
    #reason-title{
        flex:1;
    }

    .reason-img{
        margin-top:20px;
    }

    /*-----SECTIONS---------*/
    .wrapper{
        margin: 0px;
    }
    .sections{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100vw;
        height: 80vh;
        padding-bottom: 60px;
      
    }
    .section1{
        display: flex;
        
        flex-direction: column;

    }
    .sectionimg1{
        flex:1;
        text-align: center;
        background-image: url("https://errundsonline.com/wp-content/uploads/2018/07/anxiety-less.png");
        background-size:70%; 
        background-repeat: no-repeat;
        background-position: top center;
        width: 100vw;
        order:2;

    }
    .section2{
        display: flex;
        flex-direction: column;

    }
    .sectionimg2{
        flex:1;
        text-align: center;
        background-image: url("https://errundsonline.com/wp-content/uploads/2018/07/newsphone.png");
        background-size:70%; 
        background-repeat: no-repeat;
        background-position: top center;
        min-width: 340px;
        order:2;
        

    }
    .section3{
        display: flex;
        flex-direction: column;

    }
    .sectionimg3{
        flex:1;
        text-align: center;
        background-image: url("https://errundsonline.com/wp-content/uploads/2018/07/points-dash.png" );
        background-size:70%; 
        background-repeat: no-repeat;
        background-position: top center;
        min-width: 340px;
        order:2;
    }
    .sections4{
        display:flex;
        
        flex-direction: column;
        justify-content: space-around;
        margin:0px;
        background-color: red;
    }
    .sectionimg4{
        flex:1;
        text-align: center;
        background-image: url("https://errundsonline.com/wp-content/uploads/elementor/thumbs/Mockup-Generated-by-Dunnnk-6lwz8d53fcxmnic9w8wztnmoves7s7mgqxr4frhexk4.jpg");
        background-size:70%; 
        background-repeat: no-repeat;
        background-position: top center;
        width: 300vw;
        order:1;

    }
    .sectiontext{
        display: flex;
        flex:1;
        flex-direction: column;
        margin: 0px;
       /* height: 200px;*/

    }
    .sectiontext h1{
        font-size: 25px;
        margin: 0 10px;

    }
    .sectiontext p{
        font-size: 14px; 
        margin:0px 20px;
        letter-spacing: 1px;
        line-height: 20px;

    }
    .sectiontext4{
        flex:1;

    }
    
    .spacer{
        flex:1;
    }
    .spacer2{
        flex-direction: column;
        margin:10px 0;
        text-align: center;
    }
    .spacer > h1{
            width: 100vw;
            margin:0;
            font-size: 10px;
        }
    .busspacer2{
        display: flex;
        flex-direction: column;
        margin:10px 0;
        text-align: center;
    }

    
    .busspacer2 h1{
        font-size:32px;
    }   

    /*---------Footer----------*/
    footer{
        background-color: #e4f1fd;
        height: 150px;
        display: flex;
        flex-wrap: wrap;
    }
    .footerlogo{
        flex:1;
        flex-wrap: wrap;        
    }
    footer .logo{
        position: relative;
        top:20px;
    }

    .flex-contain{
        display: flex;
        flex:4;
    }
    .legal{
        flex-wrap: wrap;
        width:100%;
        
    }
    .links{
        flex:4;
        display: flex;
        justify-content: space-around;
    }
    .links a{
        position: relative;
        top:40px;
        font-size: 18px;
        text-decoration:none;
        font-weight: 450; 

    }
    .socials{
        flex:1;
        justify-content: center;
        display: flex;
    }
    .socials img{
        margin:0 5px; 
        position: relative;
        top:30px;

    }
    .copy{
        position: relative;
        top:20px;
        font-size: 16px;
        text-align: center;
    }

    hr{
        border: dotted .5px black;
        width:80vw;
        margin:0 auto;
    }
    .cta2{
        margin-left: 0;
    }
    .buscta2{
        margin:10px 0;
    }

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin:12vh auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 40%; /* Could be more or less, depending on screen size */

    }

    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }


    input[type=text],input[type=tel],input[type=email], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
        font-size:14px;
    }
    select{
        background-color:white; 
        color: grey;
    }

    label{
        display: block;

    }
    #fname, #lname{
        width: 48%;
       /* flex:1;*/

    }
    .name{
        width:100%;
        display: flex;
        justify-content: space-around;
        
    }
    #address{
        display: flex;
        justify-content: space-between;
        margin:10px 0;
    }
    #city,#state{
        flex:3;
        margin:2px;
       
    }

    #states{
        flex:1;
        margin:2px;
    }
    #zip{
        flex:2;
         margin:2px;
    }
    /*#year{
        width: 48%;
    }
    #birthdiv{
        text-align: center;
        margin:0; 
    }*/
    input[type=submit] {

        background-color:red;
        color: white;
        text-align: center;
        border: none;
        padding: 5px;
        text-decoration: none;
        font-size: 16px;
        margin:5px;
       
    }
    #formsubmit{
        text-align: center;
    }

    .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }
        body{
            width: 100vw;
        }
        div > h1{
            font-size: 20px;
        }
        .wrapper{
            display: flex;
            flex-direction: column;
            margin:10px 0; 

            }
        

     #nav-wrapper, #navbar{
        width:100vw;
     }
     .main{
        display: flex;
        flex-direction: column;
        width: 100vw;
        flex-wrap: wrap;
     }
 

    .myBtn{
        height: 40px;
        background: red;
    }
     .maindesc{
        font-size: 20px;
        width: 100vw;
        padding: 10px;
        text-align: center;
     }
     .mainimg{
        width:90vw;
     }
     .imgdiv{

    }
    footer{
        width:100vw;
    }

    }