@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.black-logo {
  height: auto;
  max-width: 100%;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;

  position: relative;
  /* left: 2%; */
  top: 20px;
}
.mission-statement-container {
  background-image: url(city-community-crossing-109919.jpg);
  background-size: cover;
  height: 100vh;
}
.transparent {
  background: #ffffff36;
  height: 100vh;
}
.statement-innerText {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.statement-text {
  height: 100%;
}
.inner-text1 {
  font-size: 23px;
  font-weight: 600px;
  line-height: 41px;
}

.inner-text2 {
  font-size: 69px;
}
.fa-linkedin,
.fa-envelope {
  font-size: 33px;
  color: #1784bd;
}
.fa-envelope {
  color: #e9554a;
}
/* -----------------------------------------------------Team------------------------------------------------------ */
.blackwhite-waves {
  text-align: center;
}
.main-bcg {
  background-color: #000000;
}
.waves {
  background-image: url(white\ wave.png);
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  background-size: 99%;
  background-repeat: no-repeat;
  background-position: center;

}
.meetTheTeam-innerText {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 69px;
  height: 150px;
  color: ghostwhite;

}

.team-info {
  display: flex;
  justify-content: space-evenly;
  /* height: 414px; */
}
.profile-pic {
  width: 100px;
  border-radius: 50%;
  position: relative;
  top: -46px;
}
.founder {
  width: 140px;
}

.profile-container {

  text-align: center;
    border-radius: 8px;
    background: #000000cf;      
    color:ghostwhite;
    border: 1px solid white;
}
.tanvir-info-container {
  width: 20%;
  font-family: "Roboto", sans-serif;
  
}

.mynu-info-container {
  width: 20%;
  font-family: "Roboto", sans-serif;
}
.david-info-container {
  width: 20%;
  font-family: "Roboto", sans-serif;
  
}
.profile-description {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  line-height: 26px;
}
.profile-title {
  font-size: 15px;
  line-height: 41px;
  color: #46A6DF;
  /* color: #ffffff; */
}

.ashley-info-container {
  width: 20%;
  font-family: "Roboto", sans-serif;
 
} 
.glen-info-container {
  width: 20%;
  font-family: "Roboto", sans-serif;

}
.advisor-container{
  margin-top: 71px;
}
.developer {
  margin-top: 71px;
}
/* ------------------------------------Quote------------------------------ */
.quote-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quote-text-container {
  width: 57%;
}
.quote-text {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 47px;
}
.elementor-divider {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
}
.elementor-divider-separator {
  border-top-style: solid;
  border-top-width: 3px;
  border-top-color: #b7b7b7;
  width: 75%;
  display: inline-flex;
}
.homeBody-ceo-name {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 47px;
  margin: 20px 0 20px;
}
.homeBody-title {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  color: #545454;
}
.elementor-divider2 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.elementor-divider-separator2 {
  border-top-style: solid;
  border-top-width: 1px;
  width: 100%;
  display: inline-flex;
}

.location-container {
  display: flex;
}

.brief-description {
  width: 50%;
  padding-left: 4%;
  padding-right: 3%;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  color: #545454;
  font-style: normal;
}
.map-location {
  width: 224%;
  /* overflow: auto; */
  height: 95%;
}
.brief-description-innerText {
  padding-top: 10px;
  padding-bottom: 10px;
}
.special-message {
  font-family: "Roboto", sans-serif;
  font-size: 29px;
  font-weight: 400;
  line-height: 52px;
  /* color: #3fa2f7; */
  color: #000000;
  font-style: normal;
}

.join-button {
  padding: 10px 15px;
  background-color:red;
  color: #fff;
  display: inline-block;
}
a {
  text-decoration: none;
}

.special-color {
    color: #46A6DF;
}
/*Footer*/
footer{
  background-color: #e4f1fd;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
}
.footerlogo{
  flex:1;
  flex-wrap: wrap;        
}
footer .logo{
  position: relative;
  top:20px;
}

.flex-contain{
  display: flex;
  flex:4;


}
.legal{
  flex-wrap: wrap;
  width:100%;
  
}
.links{
  flex:4;
  display: flex;
  justify-content: space-around;
}
.links a{
  position: relative;
  top:40px;
  font-size: 18px;
  text-decoration:none;
  font-weight: 450; 

}
.socials{
  flex:1;
  justify-content: center;
  display: flex;
}
.socials img{
  margin:0 5px; 
  position: relative;
  top:30px;

}
.copy{
  position: relative;
  top:20px;
  font-size: 16px;
  text-align: center;
}

hr{
  border: dotted .5px black;
  width:80vw;
  margin:0 auto;
}
#cta2{
  margin-left: 0;
}
#buscta2{
  margin:20px 0;
}

/* ----------------------------------Responsive------------------------------------- */

@media screen and (max-width: 600px) {
  .inner-text1 {
    font-size: 19px;
  }
  .inner-text2 {
    font-size: 40px;
  }
  .cuny-startUp-img {
    left: 1px;
  }
}

@media screen and (max-width: 600px) {
.team-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}
.profile-container {
  width: 71%;
  margin-bottom: 80px;
}
.meetTheTeam-innerText{
  font-size: 41px;
}

}
